/.idea/
/core/target/
/fxplayer/target/
/fxfileviewer/target/
/CHAT.md
*.iml
todo.txt
/target/
/screenshot/
/*.log
/fxfileviewer/*.log
.DS_Store
/.vscode/calibrate-8-remaining.sh
/.vscode/settings.json
/.vscode/tasks.json
