<?xml version="1.0" encoding="UTF-8"?>
<!-- https://howtodoinjava.com/log4j2/log4j2-xml-configuration-example/ -->
<Configuration status="warn">
    <Properties>
        <Property name="basePath">.</Property>
    </Properties>

    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- File appender configuration -->
        <RollingFile name="fileLogger"
                     fileName="${basePath}/app.log"
                     filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <!-- Delete all files older than 10 days -->
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>

        <Logger name="com.lottie4j" additivity="false" level="info">
            <AppenderRef ref="fileLogger"/>
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="com.lottie4j.fxfileviewer" additivity="false" level="info">
            <AppenderRef ref="fileLogger"/>
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>